


nav ul {
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
 
   
  
}
.home{
    background-color: red;
}
.home:hover{
    background-color: grey;
}
 header ul a {
    text-decoration: none;
    color: white;
 
    
}
header ul li{
display: inline;




}
header a{
    padding: 10px;
}

nav a:hover{
    background-color: gray;

}




.Form{
    background-color: #dbd2d2;
    
   
    padding: 8px;
   margin-right: 50px;
}
.formLebel{
    margin: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-right: 150px;
}

.formInput{
    display: block;
    margin: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-right: 150px;
    outline: none;
    
}

#formBtn{
    background-color: rgb(109, 236, 109);
    outline: none;
    border: none;
    margin-top: 15px;
    padding-right: 125px;
    padding-top: 8px;
    padding-bottom: 8px;
   padding-left:125px ;
   
}


.flex-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: 50px;
margin-right: 50px;

}


    
  
.flexi{
    display: flex;
    flex-wrap: wrap;
   
    text-align: center;
}
.flexi img{
    height: 150px;
    width: 150px;
}



.flip-card {
    background-color: transparent;
    width: 150px;
    height: 150px;
    padding-right: 5px;
    perspective: 1000px;
    
    
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }
 
  




    

table th{
    padding-right: 325px;
    
}
table td{
    padding-right: 300px;
    
}

@media (max-width:800px){
    table th{
        padding-right: 30px;
        
    }
    table td{
        padding-right: 25px;
        
    }
}


table img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

footer{
    background-color: black;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    color: white;
}

footer p{
    text-align: center;
    color: white;
    display: inline;
    
}

.flex-para{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

i{
    visibility: hidden;
}

@media (max-width:600px){
    #checkbox{
        display: none;
    }

   i{
       visibility: visible;
   }
   .input{
       visibility: hidden;
       
   }

   .flex-nav{
    position: relative;
    background-color: #bbb;
    width: 30%;
   
    
    transition: 0.3s;
     display: none;
     
 
   
    
}

.flex-input{
    
    border-top: 1px solid rgb(46, 43, 43);
    border-bottom: 1px solid rgb(46, 43, 43);
}

}




#checkbox{
    display: none;
}






#checkbox:checked .flex-nav li a{
 display: block;
 background-color: red;
 color: red;
 
}



